

.categorias{
    display: flex;
    justify-content: center;
    align-items: center;
}
.item-categoria{
    width: 250px;
    height: 300px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    flex-direction: column;
    text-decoration: none;
    margin: 10px;
    margin-bottom: 20px;
    padding: 10px;
    background: white;
    box-shadow:  20px 20px 60px #bebebe;
    position: relative;
    overflow: hidden;
}
.item-categoria::after{
    content: '';
    position: absolute;
    width: 250px;
    height: 250px;
    bottom: -125px;
    right: -125px;
    border-radius: 100%;
    background: var(--gris);
    opacity: 0.1;
}

.item-categoria i{
    font-size: 50px !important;
    margin-bottom: 10px;
}
.item-categoria p{
    font-size: 15px !important;
    color: var(--gris);
}
.item-categoria:hover{
    background: var(--verde);
    color: white !important;
}
.item-categoria:hover>p{
    color: white !important;
}
.fila-categoria-1{
    align-self: flex-start;
}
.fila-categoria-2{
    align-self: flex-end;
}
.fila-categoria-3{
    align-self: flex-start;
}
#que-hecemos{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    min-height: 100vh;
}
#que-hecemos > h3 > div{
    font-family: archivoBlack !important;
    color: var(--verde) !important;
}
#que-hecemos h3{
    font-family: archivoBlack !important;
    font-size: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--gris) !important;
}
/* .fw-bold a{
    color: #1abc9c !important;
    font-size: 30px;
    text-decoration: none;
} */
.web-movil{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0px !important;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
#desarrollo-web-movil{
    background: url('../img/geometric-g9bf38f25b_1920.jpg');
    background-size: cover;
	background-repeat:no-repeat;
    background-attachment: fixed;
    overflow: hidden;

}
#desarrollo-web-movil > div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#desarrollo-web-movil > div > p{
    color: #17E0FF;
    font-family: comforta !important;
    font-size: 30px !important;
    margin-bottom: 150px !important;
    text-align: center;
}
.celular-movil{
    position: absolute;
    height: 80%;
}
.item{
    height: 200px;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    text-align: center;
    font-family: comforta !important;
    border: 3px solid #17E0FF;
    color: #17E0FF;
    background: rgba(1, 17, 38,0.5);
}
.item i{
    position: absolute;
    top: -25px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    font-family: 15px !important;
    background: #1abc9c;
    color: var(--blanco);
}
.izquierda{
    right: -25px;
}
.derecha{
    left: -25px;
}
.item:hover{
    transform: scale(1.05);
}
.item-3{
    margin-right: -50px;
}
.item-4{
    margin-left: -50px;
}