@media screen and (max-width:1200px) {
    .elemento{
        display: none;
    }
    .categorias{
        transform: scale(0.7);
    }
}
@media screen and (max-width:1024px) {
    .texto{
        width: 70% !important;
        padding: 25px !important;
    }
    .imagen{
        right: 0 !important;
    }
    #que-hecemos{
        display: grid;
        grid-template-columns: repeat(1,1fr) !important;
        grid-template-rows: repeat(1,1fr) !important;
    }
}
@media screen and (max-width:768px) {
    h1{
        font-size: 30px !important;
    }
    /* h3{
        font-size: 30px !important;
    } */
    .categorias{
        /* transform: scale(0.5); */
        background: red;
    }
    h2{
        font-size: 20px !important;
    }
    .texto p{
        font-size: 15px !important;
        margin-bottom: 50px !important;
    }
    .hamburgesa{
        display: block;
    }
    #menu{
        display: none;
    }
    .offcanvas{
        width: 80% !important;
    }
    #Incio{
        justify-content: center !important;
    }
    .texto{
        padding: 25px !important;
        padding-bottom: 50px !important;
        background: rgba(206, 228, 242, 0.5) !important;
        width: 100vw !important;
    }
    #contactanos::after{
        transform: rotate(0deg) !important;
        background: transparent;
        background: #011126;
        height: 50%;
        left: 0;
        top: 50% !important;
        z-index: -1;
    }
    #contactanos{
        grid-template-columns: repeat(1, 1fr) !important;
        grid-template-rows: repeat(2, 1fr) !important;
    }
    .info-contacto{
        align-items: center !important;
        margin-right: 0px !important;
    }
    .web-movil{
        transform: scale(0.8) translateY(-100px);
        padding: 0px !important;
        gap: 15px !important;
        justify-content: space-between;
    }
    .item{
        font-size: 12px !important;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: calc(100vw * 0.50);
        background: rgba(1, 17, 38,0.9);
    }
    .izquierda{
        right: 0px !important;
    }
    .derecha{
        left: 0px !important;
    }
    .item i{
        position: relative;
        align-self: center;
        font-size: 20px;
    }
    .item-3{
        margin-right: 0px !important;
    }
    .item-4{
        margin-left: 0px !important;
    }
    #clientes{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
    .detalles{
        grid-template-columns: repeat(1, 1fr) !important;
        grid-template-rows: repeat(2, 1fr) !important;
    }
}